body {
  background: linear-gradient(90deg, rgb(200, 248, 215) 0%, rgb(243, 245, 200) 100%);
 font-family: 'Quicksand', sans-serif;
 color: #001427;
}

a {
  color: #048A81;
  text-decoration: none;
}

a:hover {
  color: #048A81;
  font-weight: bold;
}

.App {
max-width: 960px;
margin: 0 auto;
}

.App-header {
  margin: 30px 0;  
}

.App h1 {
  font-weight: bold;
}

.App-logo {
  max-width: 50px;  
}

.App-footer {
  font-size: 14px;
  text-align: center;
  margin: 30px 0;
  font-weight: 100;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  list-style-type: none;
}

.example {
  font-size: 14px;
  color: #048A81;
}

@media (max-width: 412px) {
  .App-header h1 {
    font-size: 28px;
    line-height: 1.5;
    }
    .App-logo {
     width: 50px;
    }
}