.Results h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    color: #001427;
}

.partOfSpeech {
    font-weight: bold;
    line-height: 1.5;
    color: #048A81;
}
 .Phonetic .player {
    color: #048A81;
    background-color: #5ecec634;
    border-radius: 50px;
    padding: 3px 6px;    
 }

 .Phonetic .player:hover {
    color: #cefcf9;
    background-color: #048A81;;
    border-radius: 50px;
    padding: 3px 6px;  
      
 }

 .Phonetic .text {
    font-weight: bold;
    line-height: 1.5;
 }


